GEMINI_API_KEY=your-api-key-here
AWS_ACCESS_KEY_ID="your-id"
AWS_SECRET_ACCESS_KEY="your-key"
# The S3 Path for experimental releases. Required for experimental releases. Example: 'releases/experimental/screenpipe'
EXPERIMENTAL_S3_PATH=""